<form #f="ngForm" (ngSubmit)="onSubmit(f)">

  <!-- CAMPO NOME -->
  <div class="form-group" [class.has-error]="!nome.valid && nome.touched">
    <label for="nome">Nome</label>
    <input type="text" class="form-control" id="nome" name="nome" placeholder="Nome" [(ngModel)]="usuario.nome" required #nome="ngModel">
    <div *ngIf="!nome.valid && nome.touched" class="alert alert-danger" role="alert">
      Nome é obrigatório.
    </div>
  </div>

  <!-- CAMPO EMAIL -->
  <div class="form-group" [class.has-error]="!email.valid && email.touched">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="email" name="email" placeholder="nome@email.com" [(ngModel)]="usuario.email" required #email="ngModel" pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?">
    <div *ngIf="!email.valid && email.touched" class="alert alert-danger" role="alert">
      Email inválido.
    </div>
  </div>

  <!-- BOTÃO SUBMIT -->
  <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Submit</button>

</form>
